# script where it's saved the bot's token
auxiliar.py

# script to test on my local machine
test.py

# cache where the variable it's stored
__pycache__/*.pyc

# ignore excel file, personal finances
FinanzasPersonales.xlsm

# igonre csv
db

# ignore images generated
images

## ignore pscp exe and bat file to transfer csv to the raspberry
pscp.exe
transfer_files.bat
transfer_trans.bat